<script>
    import '../styles/global.scss';
</script>

<header>
    <h1>
        <a href="/">Keyoxide</a>
    </h1>
    <nav>
        <a href="/">Home</a>
        <a href="/docs">Documentation</a>
        <a href="/blog">Blog</a>
        <a href="/contribute">Contribute</a>
    </nav>
</header>

<main>
    <slot></slot>
</main>
