body {
    font-family: sans-serif;
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #388dc2 0%, #8d76f3 100%);
    color: #fff;
    padding: 16px;

    h1 {
        flex: 1;
        margin: 0;
        font-size: 1.6rem;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    nav {
        display: flex;

        a {
            padding: 4px 8px;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;

            &:hover {
                background-color: rgba(255,255,255,0.25);
            }
        }
    }
}
main {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 8px;
}